.embla {
  overflow: hidden;
  width: 100%;
}

.container {
  display: flex;
}

.slide {
  flex: 0 0 100%;
}

/* caja de imagen controlada (tu mismo criterio del detail) */
.imageBox {
  width: 60%;
  max-width: 640px;
  height: 360px;
  margin: 0 auto;

  background: #fff;
  /* border: 1px solid #000; */
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media (max-width: 520px) {
  .imageBox {
    height: 240px;
    max-width: 100%;
  }
}
